[/]
desktop-effects-close-effect='traditional'
active-display-scale=1
desktop-effects-tile-time=100
desktop-effects-maximize-effect='none'
enabled-desklets=['battery@schorschii:1:1400:700', 'cpuload@kimse:2:1200:0', 'diskspace@schorschii:3:1400:500', 'diskspace@schorschii:4:1400:350', 'reddit-reader@orangeshark:11:550:800', 'TimeAndDate@nightflame:13:1450:850', 'netusage@30yavash.com:14:850:400']
command-history=['r']
desktop-effects-close-transition='easeOutQuad'
desktop-effects-minimize-effect='traditional'
desktop-effects-tile-effect='none'
desktop-effects-unmaximize-time=100
desktop-effects-maximize-transition='easeInExpo'
desktop-effects-map-transition='easeOutQuad'
desklet-cache-updated=1550512324
desktop-effects-map-time=100
desktop-effects-maximize-time=100
enabled-applets=['panel1:right:0:systray@cinnamon.org:0', 'panel1:left:0:menu@cinnamon.org:1', 'panel1:left:1:show-desktop@cinnamon.org:2', 'panel1:left:2:grouped-window-list@cinnamon.org:3', 'panel1:right:1:keyboard@cinnamon.org:4', 'panel1:right:2:notifications@cinnamon.org:5', 'panel1:right:3:removable-drives@cinnamon.org:6', 'panel1:right:5:bluetooth@cinnamon.org:7', 'panel1:right:6:network@cinnamon.org:8', 'panel1:right:7:sound@cinnamon.org:9', 'panel1:right:8:power@cinnamon.org:10', 'panel1:right:9:calendar@cinnamon.org:11']
next-applet-id=12
desktop-effects-close-time=120
desktop-effects-map-effect='traditional'
next-desklet-id=15
desktop-effects-minimize-time=160
desklet-snap-interval=50
desktop-effects-tile-transition='easeInQuad'
desktop-effects-minimize-transition='easeInQuad'
desktop-effects-unmaximize-transition='easeNone'
desktop-effects-unmaximize-effect='none'

[settings-daemon/plugins/power]
idle-dim-time=300
sleep-inactive-battery-timeout=0
lock-on-suspend=true
lid-close-ac-action='suspend'
lid-close-battery-action='suspend'
sleep-display-battery=1800
sleep-display-ac=1800
sleep-inactive-ac-timeout=0

[settings-daemon/peripherals/touchpad]
motion-threshold=1
natural-scroll=false
horizontal-scrolling=true

[settings-daemon/peripherals/keyboard]
repeat-interval=uint32 30
delay=uint32 500
numlock-state='off'

[settings-daemon/peripherals/mouse]
drag-threshold=8
motion-threshold=1
double-click=400

[desktop/interface]
cursor-size=24
cursor-blink-time=1200

[desktop/keybindings/custom-keybindings/custom2]
binding=['<Super>e']
command='nemo'
name='Home'

[desktop/keybindings/custom-keybindings/custom1]
binding=['<Super>w']
command='firefox'
name='Browser'

[desktop/keybindings/custom-keybindings/custom0]
binding=['<Super>t']
command='terminator'
name='Terminal'

[desktop/keybindings]
custom-list=['custom0', 'custom1', 'custom2']

[desktop/keybindings/media-keys]
terminal=@as []
email=@as []
www=@as []
search=@as []
home=@as []
calculator=@as []

[desktop/media-handling]
autorun-x-content-start-app=@as []
autorun-never=false
autorun-x-content-ignore=@as []
autorun-x-content-open-folder=['x-content/unix-software']

[desktop/screensaver]
allow-media-control=true
layout-group=0
show-info-panel=true
lock-delay=uint32 30

[desktop/applications/calculator]
exec='gnome-calculator'

[desktop/applications/terminal]
exec='terminator'

[desktop/session]
idle-delay=uint32 1800

[desktop/sound]
event-sounds=false

[desktop/background]
picture-uri='file:///usr/share/backgrounds/gnome/Sandstone.jpg'
picture-options='zoom'

[desktop/background/slideshow]
image-source='xml:///usr/share/gnome-background-properties/gnome-backgrounds.xml'
delay=15
